.vercel

node_modules/
scriptorium-api/node_modules/
api/node_modules/

data/*.json
data/*.db
data/*.db-wal
data/*.db-shm

# Temp & backup
*.log
*.tmp
*.swp
*.bak
*.bundle
.env
.env.local
Thumbs.db
.DS_Store
desktop.ini
